html
  head
    title Empower4Life Signups
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="/assets/css/main.css")
  body(class="landing is-preload")
    - var title = 'Admin';
    include header
    .outer-main
      main
        section(class="Main-content")
          h2 #{event.title}
          p !{event.description}
          p
            a(href="/admin/event/edit?event=" + event.id class="button-style button-style1") Edit Event
        section(class="event-details")
          h3 Total: #{total_signups} signups / #{total_needed} needed
          if Object.keys(summary).length
            table
              thead
                tr
                  th Item Title
                  th Needed
                  th Signups
                  th Actions
              tbody
                each item,id in summary
                  tr
                    td
                      p
                        | #{item.title}
                        if item.start && item.end
                          br
                          span.time #{item.start} - #{item.end}
                        else if item.end
                          br
                          span.time Deadline: #{item.end}
                    td #{item.needed}
                    td #{item.signups}
                    td
                      a(href="/admin/item/edit?event=" + event.id + "&item=" + id class="button-style button-style1") Edit
                      a(href="#" data-event=event.id data-item=id class="button-style button-style3 delete-link") Delete
          p
            a(href="/admin/item/new?event=" + event.id class="button-style button-style2") Add Item
          if kids.length
            h3 Kids
            table
              thead
                tr
                  th ID
                  th Name
                  th Shelter
                  th Age
                  th Gender
                  th Shirt Size
                  th Pants Size
                  th Color
                  th Comments
                  th Internal Notes
              tbody
                each kid in kids
                  tr
                    td #{kid.id}
                    td #{kid.name}
                    td #{kid.shelter}
                    td #{kid.age}
                    td #{kid.gender}
                    td #{kid.shirt_size}
                    td #{kid.pant_size}
                    td #{kid.color}
                    td #{kid.comments}
                    td #{kid.internal}
          if signups.length
            h3 Signups
            table
              thead
                tr
                  th Item Title
                  th User Name
                  th Email
                  th Quantity
                  th Notes
                  th Actions
              tbody
                each signup in signups
                  tr
                    td
                      p
                        | #{signup.item_title}
                        if signup.start && signup.end
                          br
                          span.time #{signup.start} - #{signup.end}
                        else if signup.end
                          br
                          span.time Deadline: #{signup.end}
                    td #{signup.user_name}
                    td #{signup.email}
                    td #{signup.quantity}
                    td #{signup.comment}
                    td
                      a(href="#" data-event=event.id data-signup=signup.id class="button-style button-style3 cancel-link") Cancel
          else
            p No signups for this event.
    include footer
    script.
      document.addEventListener('DOMContentLoaded', function() {
        const deleteLinks = document.querySelectorAll('.delete-link');
        deleteLinks.forEach(link => {
          link.addEventListener('click', function(event) {
            event.preventDefault();

            const eventId = this.getAttribute('data-event');
            const itemId = this.getAttribute('data-item');
            const url = `/admin/item/delete?event=${eventId}&item=${itemId}`;

            if (confirm('Are you sure you want to delete this item?')) {
              // Redirect to the delete URL
              window.location.href = url;
            }
          });
        });

        const cancelLinks = document.querySelectorAll('.cancel-link');
        cancelLinks.forEach(link => {
          link.addEventListener('click', function(event) {
            event.preventDefault();

            const eventId = this.getAttribute('data-event');
            const signupId = this.getAttribute('data-signup');
            const url = `/admin/signup/delete?event=${eventId}&signup=${signupId}`;

            if (confirm('Are you sure you want to cancel this signup?')) {
              // Redirect to the delete URL
              window.location.href = url;
            }
          });
        });
      });