html
  head
    title Empower4Life Signups Admin
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="/assets/css/main.css")
  body(class="landing is-preload")
    include header
    .outer-main
      main
        section(class="Main-content")
          .new-container
            a(class="button-style button-style2 new-event-button" href="/admin/event/new") New Event
          each event in events
            .row(class=event.active ? "" : "inactive")
              .column
                h2 #{event.title}
                if event.summary
                  p #{event.summary}
                else
                  p #{event.description}
                p.button-p
                  a(class="button-style button-style3" href="/admin/event/" + event.id) Event Details
            hr
    include footer