html
  head
    title Empower4Life Signups
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="/assets/css/main.css")
  body(class="landing is-preload")
    - var title = 'Admin';
    include header
    .outer-main
      main
        section(class="Main-content")
          h2 #{event.title}
            small
              a(href="/event/" + event.id) view
          p !{event.description}
          p
            a(href="/admin/event/edit?event=" + event.id class="button-style button-style1") Edit Event
            | 
            if event.active
              a(href="/admin/event/activate?active=false&event=" + event.id class="button-style button-style3") Deactivate
            else
              a(href="/admin/event/activate?active=true&event=" + event.id class="button-style button-style2") Activate
        section(class="event-details")
          h3 Total: #{total_signups} signups / #{total_needed} needed
          if Object.keys(summary).length
            table
              thead
                tr
                  th Item Title
                  th Needed
                  th Signups
                  th Actions
              tbody
                each item,id in summary
                  tr
                    td
                      p
                        | #{item.title}
                        if item.start && item.end
                          br
                          span.time #{item.start} - #{item.end}
                        else if item.end
                          br
                          span.time Deadline: #{item.end}
                        if !item.active
                          br
                          span.inactive DISABLED
                    td #{item.needed}
                    td #{item.signups}
                    td
                      a(href="/admin/item/edit?event=" + event.id + "&item=" + id class="button-style button-style1") Edit
                      a(href="#" data-event=event.id data-item=id class="button-style button-style3 delete-link") Delete
          p
            if event.adopt_signup
              if event.allow_kids
                a(href="/add-kids?event=" + event.id + "&form_code=" + event.form_code class="button-style button-style2") Add Kids
                | 
                a(href="/admin/event/toggle-kids?event=" + event.id + "&allow_kids=false" class="button-style button-style3") Disable Kid Form
              else
                a(href="/admin/event/toggle-kids?event=" + event.id + "&allow_kids=true" class="button-style button-style2") Enable Kid Form
            else
              a(href="/admin/item/new?event=" + event.id class="button-style button-style2") Add Item
          if pending_kids.length
            h3 Pending Kids
              small
                a.download-csv(href="#" data-table-id="pending-kids-table") csv
                a.toggle-section(href="#" data-section-id="pending-kids-section") hide/show
            div#pending-kids-section
              table#pending-kids-table
                thead
                  tr
                    th(data-sort="id" class="sortable") ID
                    th(data-sort="shelter" class="sortable") Shelter
                    th(data-sort="name") Name
                    th(data-sort="age") Age
                    th(data-sort="gender") Gender
                    th(data-sort="shirt_size") Shirt Size
                    th(data-sort="pant_size") Pants Size
                    th(data-sort="color") Color
                    th(data-sort="comments") Comments
                    th(data-sort="internal") Internal Notes
                    th(data-sort="actions") Actions
                tbody
                  each kid in pending_kids
                    tr
                      td #{kid.id}
                      td #{kid.shelter_name}
                      td #{kid.name}
                      td #{kid.age}
                      td #{kid.gender}
                      td #{kid.shirt_size}
                      td #{kid.pant_size}
                      td #{kid.color}
                      td #{kid.comments}
                      td #{kid.internal}
                      td
                        a(href="#" data-event=event.id data-kid=kid.id class="edit-kid-link" title="Edit") ✍️
                        a(href="#" data-event=event.id data-kid=kid.id class="delete-kid-link" title="Delete") ❌
                        a(href="#" data-event=event.id data-kid=kid.id class="approve-kid-link" title="Approve") ✅
          if kids.length
            h3 Kids
              small
                a.download-csv(href="#" data-table-id="kids-table") csv
                a.toggle-section(href="#" data-section-id="kids-section") hide/show
            div#kids-section
              table#kids-table
                thead
                  tr
                    th(data-sort="shelter-id" class="sortable") Shelter ID
                    th(data-sort="id" class="sortable") ID
                    th(data-sort="shelter" class="sortable") Shelter
                    th(data-sort="name") Name
                    th(data-sort="age") Age
                    th(data-sort="gender") Gender
                    th(data-sort="shirt_size") Shirt Size
                    th(data-sort="pant_size") Pants Size
                    th(data-sort="color") Color
                    th(data-sort="comments") Comments
                    th(data-sort="signups") Signups
                    th(data-sort="internal") Internal Notes
                    th(data-sort="actions") Actions
                tbody
                  each kid in kids
                    tr
                      td #{kid.shelter_id}
                      td #{kid.id}
                      td #{kid.shelter_name}
                      td #{kid.name}
                      td #{kid.age}
                      td #{kid.gender}
                      td #{kid.shirt_size}
                      td #{kid.pant_size}
                      td #{kid.color}
                      td #{kid.comments}
                      td #{kid.signup_user_names}
                      td #{kid.internal}
                      td
                        a(href="#" data-event=event.id data-kid=kid.id class="edit-kid-link" title="Edit") ✍️
                        a(href="#" data-event=event.id data-kid=kid.id class="delete-kid-link" title="Delete") ❌
          if signups.length
            h3 Signups
              small
                a.download-csv(href="#" data-table-id="signups-table") csv
                a.toggle-section(href="#" data-section-id="signups-section") hide/show
            div#signups-section
              table#signups-table
                thead
                  tr
                    th Item Title
                    th User Name
                    th Email
                    th Quantity
                    th Notes
                    th Actions
                tbody
                  each signup in signups
                    tr
                      td
                        p
                          | #{signup.item_title}
                          if signup.start && signup.end
                            br
                            span.time #{signup.start} - #{signup.end}
                          else if signup.end
                            br
                            span.time Deadline: #{signup.end}
                      td #{signup.user_name}
                      td #{signup.email}
                      td #{signup.quantity}
                      td #{signup.comment}
                      td
                        a(href="#" data-event=event.id data-signup=signup.id class="button-style button-style3 cancel-link") Cancel
          else
            p No signups for this event.
    include footer
    script(src="/assets/js/admin.js")
