html
  head
    title Empower4Life Signups
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="/assets/css/main.css")
  body(class="landing is-preload")
    - var title = 'Admin';
    include header
    .outer-main
      main
        section(class="Main-content")
          h2 #{event.title}
        section(class="event-details")
          if Object.keys(summary).length
            h3 Summary
            table
              thead
                tr
                  th Item Title
                  th Needed
                  th Signups
              tbody
                each item in summary
                  tr
                    td
                      p
                        | #{item.title}
                        if item.start && item.end
                          br
                          span.time #{item.start} - #{item.end}
                        else if item.end
                          br
                          span.time Deadline: #{item.end}
                    td #{item.needed}
                    td #{item.signups}
          if items.length
            h3 Signups
            table
              thead
                tr
                  th Item Title
                  th User Name
                  th Email
                  th Quantity
                  th Notes
              tbody
                each item in items
                  tr
                    td
                      p
                        | #{item.item_title}
                        if item.start && item.end
                          br
                          span.time #{item.start} - #{item.end}
                        else if item.end
                          br
                          span.time Deadline: #{item.end}
                    td #{item.user_name}
                    td #{item.email}
                    td #{item.quantity}
                    td #{item.comment}
          else
            p No signups for this event.
    include footer
