| Thanks for signing up!
| Here are the details of your signup:
| #{item.title}
|
| * Details: 
if item.emailInfo
  | !{item.emailInfo}
else
  | !{item.notes}
if item.start
  | * Time: #{item.start} - #{item.end}
| * Signed up for: #{count}
| * Comment: #{comment}
|
| To manage your signups, visit #{link}