| Thanks for signing up!
| Here are the details of your signup:
| #{item.Title}
|
| * Details: #{item.Notes}
if item.Start
  | * Time: #{item.Start} - #{item.End}
| * Signed up for: #{count}
| * Comment: #{comment}
|
| To manage your signups, visit #{link}