h2 #{item.event}
if item.eventEmailInfo
  p !{item.eventEmailInfo}
else
  p !{item.eventDescription}
h2 Thanks for signing up!
p Here are the details of your signup:
ul
  if item.title
    li #[h3 #{item.title}]
  li
    p #[strong Details:]
    if item.emailInfo
      p !{item.emailInfo}
    else
      p !{item.notes}
  if item.start && item.end
    li #[strong Time:] #{item.start} - #{item.end}
  else if item.end
    li #[strong Deadline:] #{item.end}
  li #[strong Signed up for:] #{count}
  if comment
    li #[strong Comment:] #{comment}