html
  head
    title Empower4Life Signups
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="/assets/css/main.css")
  body(class="landing is-preload")
    - var title = 'Edit Event';
    include header
    .outer-main
      main
        section(class="Main-content")
          if errors
            .errors
              ul
              each error in errors
                li #{error.msg}
          form.signup(method="POST" action="/admin/event-edit" enctype="multipart/form-data")
            .form-group
              label(for='title') Title:
              input#title.form-control(type='text' name='title' required value=event.title)
            .form-group
              label(for='summary') Summary (shows in events listing):
              input#notes.form-control(type='text' name='summary' value=event.summary)
            .form-group
              label(for='description') Description (shows in event page):
              input#notes.form-control(type='text' name='description' required value=event.description)
            .form-group
              label(for='email_info') Email Info (details only shown after signup confirmed):
              textarea#email_info.form-control(name='email_info' cols='30' rows='4' value=event.email_info)
            .form-group
              label(for='image') Image:
              input#image.form-control(type='file' name='image')
            .form-group
              label(for='active') Active:
              if event.active
                input#active.form-control(type='checkbox' name='active' checked)
              else
                input#active.form-control(type='checkbox' name='active')
            input#id.form-control(type='hidden' name='id' value=event.id)
            .center
              button(type='submit' class='button-style button-style2') Update Event
    include footer