.form-group
  label(for='title') Title:
  input#title.form-control(type='text' name='title' required value=event.title || '')

.form-group
  label(for='summary') Summary (shows in event list):
  input#summary.form-control(type='text' name='summary' value=event.summary || '')

.form-group
  label(for='description') Description (HTML allowed; shows on event page):
  textarea#description.form-control(name='description' required cols='30' rows='12')
    | #{event.description || ''}

.form-group
  label(for='email_info') Email Info (HTML allowed; details only shown after signup confirmed):
  textarea#email_info.form-control(name='email_info' cols='30' rows='12')
    | #{event.email_info || ''}

.form-group
  label(for='image') Image:
  input#image.form-control(type='file' name='image')

.form-group
  label(for='active') Active:
  if event.active
    input#active.form-control(type='checkbox' name='active' checked)
  else
    input#active.form-control(type='checkbox' name='active')

.form-group
  label(for='adopt_signup') Is this an adopt-a-child signup?
  input#adopt_signup(type='checkbox' name='adopt_signup' class='toggle-switch' checked=event.adopt_signup)
  label(for='adopt_signup' class='toggle-switch-label')

.form-group
  label(for='allow_kids') Allow new kids to be added via form:
  if event.allow_kids !== false
    input#allow_kids.form-control(type='checkbox' name='allow_kids' checked)
  else
    input#allow_kids.form-control(type='checkbox' name='allow_kids')

// Adopt-a-Child Settings section, hidden or shown based on the event
#adopt-settings(style=event.adopt_signup ? 'display:block;' : 'display:none;')
  - const selectedShelters = (event && event.selectedShelters) ? event.selectedShelters : (typeof eventShelterIds !== 'undefined' ? eventShelterIds : []);
  - const shelterNotes = (typeof newSheltersInput !== 'undefined') ? newSheltersInput : '';
  fieldset
    legend Adopt-a-Child Settings (optional)
    p
      | For events with adopt-a-child type signups, please fill out the following fields for displaying the signups.
    ul
      li \#{id}
      li \#{name}
      li \#{shelter_id}
      li \#{age}
      li \#{gender}
      li \#{shirt_size}
      li \#{pant_size}
      li \#{color}
      li \#{comments}
      li \#{internal}
    .form-group
      label
        | Shelters Included:
        a#select-all-shelters.select-all-link(href='#') Select all
      if shelters && shelters.length
        .checkbox-list
          each shelter in shelters
            - const isSelected = Array.isArray(selectedShelters) ? selectedShelters.includes(shelter.id) : false;
            label.checkbox-option
              input(type='checkbox', name='shelters', value=shelter.id, checked=isSelected)
              span #{shelter.name}
      else
        p No shelters found. Add new shelters below to get started.
    .form-group
      label(for='new_shelters') Add New Shelters (one per line):
      textarea#new_shelters.form-control(name='new_shelters' cols='30' rows='3')= shelterNotes
    .form-group
      label(for='kid_title') Title Template:
      input#kid_title.form-control(type='text' name='kid_title' value=event.kid_title || 'Child \#{shelter_id}-\#{id}')
    .form-group
      label(for='kid_notes') Notes Template (use pug templating):
      textarea#kid_notes.form-control(name='kid_notes' cols='30' rows='12')
        | #{event.kid_notes || 'p \#{age} year old \#{gender}'}
    .form-group
      label(for='kid_comments_label') Comments Section Title:
      input#kid_comments_label.form-control(type='text' name='kid_comments_label' value=event.kid_comments_label || 'Gift Ideas')
    .form-group
      label(for='kid_comments_help') Comments Helper Text:
      textarea#kid_comments_help.form-control(name='kid_comments_help' cols='30' rows='3')
        | #{event.kid_comments_help || 'Things you like/enjoy or places you like to shop (~$30 value)'}
    .form-group
      label(for='kid_email_info') Email Info Template (details only shown after signup confirmed, use pug templating):
      textarea#kid_email_info.form-control(name='kid_email_info' cols='30' rows='12')
        if event.kid_email_info
          | #{event.kid_email_info}
        else
          | ul
          |   li Child ID: \#{shelter_id}-\#{id} (used to label your donations, see below)
          |   li Age: \#{age}
          |   li Gender: \#{gender}
          |   li Shirt Size: \#{shirt_size}
          |   li Pant Size: \#{pant_size}
          |   li Favorite Color: \#{color}
          |   li Comments: \#{comments}
    .form-group
      label(for='kid_needed') Signups per Child:
      input#needed.form-control(type='number' name='kid_needed' value=event.kid_needed || 0)
// Hidden input for event ID, for editing case
if event.id
  input#id.form-control(type='hidden' name='id' value=event.id)
