html
  head
    title Empower4Life Signups
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="/assets/css/main.css")
  body(class="landing is-preload")
    - var title = event.title;
    include header
    .outer-main
      main
        section(class="Main-content")
          .event
            p
              img(src=event.image, alt=event.title)
            p !{event.description}
            hr
            if !event.active
              p Event is not currently active.
            else
              for item in items
                .row
                  .column
                    if item.title
                      h2 #{item.title}
                    .item
                      p!= item.notes
                  .column
                    if item.start && item.end
                      p #{item.start} - #{item.end}
                    else if item.end
                      p Deadline: #{item.end}
                    if item.signups < item.needed
                      p
                        span.slots #{item.signups} of #{item.needed}
                      p.button-p
                        if loggedIn
                          a(href="/signup?item=" + item.id class="button-style button-style2") Sign Up
                        else
                          a(href="/login?item=" + item.id class="button-style button-style2") Sign Up
                    else
                      span.slots Needs Met!
                hr
          if event.active
            .pagination
              if currentPage > 1
                a(href="?page=" + (currentPage - 1)) Previous
              span Page #{currentPage} of #{totalPages}
              if currentPage < totalPages
                a(href="?page=" + (currentPage + 1)) Next
          .title
            if isAdmin
              a(href="/admin/event/" + event.id) Admin
      include footer