.form-group
  label(for='name') Name:
  input#name.form-control(type='text' name='name' required value=kid.name || '')

- const bcpsShelter = shelters && shelters.find(shelter => shelter.name === 'BCPS')
- const bcpsShelterId = bcpsShelter ? bcpsShelter.id : null
- const hasEvent = typeof event !== 'undefined' && event !== null
- const commentsLabel = hasEvent && event.kid_comments_label ? event.kid_comments_label : 'Gift Ideas'
- const commentsHelp = hasEvent && event.kid_comments_help ? event.kid_comments_help : 'Things you like/enjoy or places you like to shop (~$30 value)'

.form-group
  label(for='shelter') Shelter:
  select#shelter.form-control(name='shelter' required data-bcps-id=bcpsShelterId)
    each shelter in shelters
      option(value=shelter.id selected=(shelter.id === kid.shelter))= shelter.name

#additional-info(data-bcps-id=bcpsShelterId style=(kid.shelter === bcpsShelterId ? '' : 'display:none;'))
  fieldset
    legend Additional Info
    .form-group
      label(for='additional_contact_name') Contact Name:
      input#additional_contact_name.form-control(type='text' name='additional_contact_name' value=kid.additional_contact_name || '')
    .form-group
      label(for='additional_contact_email') Contact Email:
      input#additional_contact_email.form-control(type='email' name='additional_contact_email' value=kid.additional_contact_email || '')
    .form-group
      label(for='additional_contact_phone') Contact Cell:
      input#additional_contact_phone.form-control(type='tel' name='additional_contact_phone' value=kid.additional_contact_phone || '')

.form-group
  label(for='age') Age:
  input#age.form-control(type='number' name='age' value=kid.age || '')

.form-group
  label(for='gender') Gender:
  input#gender.form-control(type='text' name='gender' value=kid.gender || '')

.form-group
  label(for='shirt_size') Shirt Size (please be specific, e.g. "Youth M" or "Adult S"):
  input#shirt_size.form-control(type='text' name='shirt_size' value=kid.shirt_size || '')

.form-group
  label(for='pant_size') Pant Size (please be specific, e.g. "Youth M" or "Adult S"):
  input#pant_size.form-control(type='text' name='pant_size' value=kid.pant_size || '')

.form-group
  label(for='color') Favorite Color:
  input#color.form-control(type='text' name='color' value=kid.color || '')

.form-group
  label(for='comments') #{commentsLabel}:
  if commentsHelp
    .comment #{commentsHelp}
  textarea#comments.form-control(name='comments' cols='30' rows='12')
    | #{kid.comments || ''}

.form-group
  label(for='internal') Internal Notes (not shared with donors):
  textarea#internal.form-control(name='internal' cols='30' rows='12')
    | #{kid.internal || ''}

// Hidden inputs for event, id, and added status
input#event.form-control(type='hidden' name='event' value=kid.event)
input#code.form-control(type='hidden' name='code' value=kid.code)

if kid.id
  input#id.form-control(type='hidden' name='id' value=kid.id)

if kid.item_id
  input#item_id.form-control(type='hidden' name='item_id' value=kid.item_id)

input#added.form-control(type='hidden' name='added' value=kid.added ? 'true' : 'false')
