html
  head
    title Empower4Life Signups
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="/assets/css/main.css")
  body(class="landing is-preload")
    - var title = 'Login';
    include header
    .outer-main
      main
        section(class="Main-content")
          if loggedIn
            p You're already logged in!
            p
              a(href='/logout') Click here to log out
          else
            if errors
              .errors
                ul
                each error in errors
                  li #{error.msg}
            form.register(method="POST" action="/login")
              div.form-group
                label(for='identifier') Email or Phone (e.g. 4105551212):
                input#identifier.form-control(
                  type='text' 
                  name='identifier' 
                  inputmode='email' 
                  autocomplete='username' 
                  placeholder='Enter email or phone number' 
                  required
                  value=identifier
                )
                input(type='hidden' name='item' value=item)
              div.form-group
                button(type='submit' class='button-style button-style2') Get Code
            p
              a(href="/register?item=" + item) Not registered yet? Click here to register
      include footer