html
  head
    title Empower4Life Signups
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="/assets/css/main.css")
  body(class="landing is-preload")
    - var title = "Thank You";
    include header
    .outer-main
      main
        section(class="Main-content")
          p Sign up successful! We've sent these details to your email.
          if event.email_info
            p !{event.email_info}
          if item.title
            h3 #{item.title}
          if item.email_info
            p !{item.email_info}
          if item.start_time && item.end_time
            p #{item.start_time} - #{item.end_time}
          else if item.end_time
            p Deadline: #{item.end_time}
          p !{item.notes}
          if item.emailInfo
            p !{item.emailInfo}
          p Signed up for: #{count}
          if comment
            p Comment: #{comment}
          p
            a(href=`/event/${event.id}` class='button-style button-style1') Sign up for another
      include footer