html
  head
    title Empower4Life Signups
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="/assets/css/main.css")
  body(class="landing is-preload")
    - var title = 'My Signups';
    include header
    .outer-main
      main
        section(class="Main-content")
        if success
          h2 Signup canceled successfully.
        each signup in signups
          .row
            .column
              h3 #{signup.title}
              if signup.start
                p #{signup.start} - #{signup.end}
              p #{signup.notes}
            .column.box
              p #[strong Signed up for:] #{signup.count}
              form(method="POST" action="/delete")
                input(type='hidden' name='signup' value=signup.id)
                button(type='submit' class="button-style") Cancel
          hr
      include footer