html
  head
    title Empower4Life Signups
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet" href="/assets/css/main.css")
    script(charset="UTF-8" src="/assets/js/user.js")
  body(class="landing is-preload")
    - var title = 'My Signups';
    include header
    .outer-main
      main
        section(class="Main-content")
        if success
          h2 Signup canceled successfully.
        else if error
          h2 Error cancelling signup.
        each signup in signups
          .row
            .column
              h3 #{signup.title}
              if signup.start
                p #{signup.start} - #{signup.end}
              p #{signup.notes}
            .column.box
              p #[strong Signed up for:] #{signup.count}
              button(type='submit' class="button-style" onclick=`cancelSignup('${signup.id}');`) Cancel
          hr
        h2 Previous Signups
        each signup in inactive
          .row
            .column
              h3 #{signup.title}
              if signup.start
                p #{signup.start} - #{signup.end}
              p #{signup.notes}
            .column.box
              p #[strong Signed up for:] #{signup.count}
          hr
      include footer